$charcoal: #353535;
$red: #a44656;

//general theme styles

li {
  list-style: none;
}

* {
  border-color: $red;
}

.red {
  color: $red;
}

.charcoal {
  color: $charcoal;
}

.grey {
  color: grey;
}

.bg-red {
  background-color: $red;
}

.bg-charcoal {
  background-color: $charcoal;
}

.bg-grey {
  background-color: grey;
}

.button {
  background-color: $red;
  color: white;
  padding: 0.5rem 3rem;
}

.button-w-100 {
  @extend .button;

  width: 100%;
  padding: 0.5rem;
  margin: 0 1rem;
}

// spacing utilities
.min-w-100 {
  min-width: 100%;
}

// border-radius
.br-0 {
  border-radius: 0;
}

// container-fluid
.container-fluid {
  padding: 0;
}

// header styles
header {
  .navbar {
    .navbar-toggler {
      border: 0.5px solid rgba(173, 119, 57, 0.356);
    }

    img {
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
    }
  }
}

main {
  .jumbotron {
    background: url("../assets/logo.svg");
    background-repeat: no-repeat;
    background-position: 5rem;
    background-size: 70%;
    background-color: $red;
    border-radius: 0;

    .jumbotron-element {
      margin: 0.25rem 0;
      padding: 0.5rem 0;
      height: 3rem;
    }
  }

  // carousel styling
  .carousel-main {
    &.carousel {
      background-color: antiquewhite;

      // caoursal slides
      .carousel-item {
        .carousel-img {
          max-width: 100%;
          min-width: 100%;
          min-height: 20rem;
          max-height: 25rem;
        }

        .carousel-texts {
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }
      }
    }

    .carousel-indicators {
      position: relative;
      top: 1.1rem;

      li:active {
        color: red;
      }
    }
  }

  .product-section {
    padding: 3rem 10rem;
  }

  .product-card {
    display: grid;
    justify-content: center;
    padding: 1rem;

    img {
      width: 100%;
    }
  }
}

footer {
  img {
    height: 4rem;
    width: 4rem;
  }
}

// search page styles
.search-main {
  display: grid;
  grid-template-columns: 3fr 7fr;

  .search-queries {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  img {
    height: 10rem;
    width: 10rem;
  }
}
